.token {

  // .token__head

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    padding: 12px;
    background-color: #1c1c1c;
    border-radius: 4px;
  }

  // .token__info

  &__info {
    width: 60%;

    .card__column {
      flex-direction: row;
      column-gap: 20px;
    }

    .card__name {
      font-size: 11px;
    }

    .card__subname {
      font-size: 16px;
    }

    .card__sum {
      font-size: 16px;
    }

    .card__percent {
      font-size: 9px;
    }

    .card__percents {
      column-gap: 4px;
    }

    .card__sum,
    .card__subname {
      line-height: 120%;
    }
  }

  // .token__actions

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .token__action

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: 0;

    &[hidden] {
      display: none;
    }
  }


}

.token .filters {
  @media (max-width: $breakpoint1024) {
    display: none;
  }
}


.token-desktop {
  display: grid;
  grid-template-columns: 300px 1fr 320px;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 24px;
  overflow: hidden;

  @media (max-width: $breakpoint1450) {
    grid-template-columns: 1fr;
  }

  @media (max-width: $breakpoint1024) {
    display: none;
  }

  // .token-desktop__column

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }
}

.watchlist {

  // .watchlist__head

  &__head {
    margin-bottom: 16px;
  }

  // .watchlist__title

  &__title {
    font-size: 20px;
    color: var(--white);
  }

  // .watchlist__main

  &__main {}

  // .watchlist__row

  &__row {
    display: flex;
    align-items: center;
    column-gap: 12px;
    background-color: #1c1c1c;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #252525;
  }

  .cards {
    position: relative;
    z-index: 1;
    row-gap: 0;
  }

  .tabs__add {
    position: absolute;
    bottom: 36px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }

  .card {
    width: 100%;
  }

  .card:not(:last-child) {
    border-bottom: 1px solid #252525;
  }

  .card__name {
    font-size: 10px;
  }

  .card__subname {
    font-size: 16px;
  }

  .card__sum {
    font-size: 16px;
  }

  .card__percent {
    font-size: 9px;
  }
}

.search {

  // .search__input

  &__input {}

  // .search__btn

  &__btn {}
}

.alerts {

  // .alerts__head

  &__head {
    margin-bottom: 16px;
  }

  // .alerts__title

  &__title {
    font-size: 20px;
    color: var(--white);
  }

  // .alerts__main

  &__main {}

  // .alerts__row

  &__row {
    display: flex;
    align-items: center;
    column-gap: 12px;
    background-color: #1c1c1c;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #252525;
  }

  // .alerts__info

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    padding: 36px 24px;
    background-color: #1c1c1c;
  }

  // .alerts__icon

  &__icon {}

  // .alerts__info-texts

  &__info-texts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .alerts__info-text

  &__info-text {
    font-size: 16px;
    text-align: center;
    color: #929292;
    line-height: 120%;
  }
}

.chart {


  @media (max-width: $breakpoint1450) {
    grid-column: span 2;
    overflow: hidden;
    order: -1;

    .orders__graph {
      img {
        max-height: 400px;
      }
    }
  }


  // .chart__head

  &__head {
    margin-bottom: 16px;
  }

  // .chart__title

  &__title {
    font-size: 20px;
    color: var(--white);
  }

  // .chart__main

  &__main {
    height: 100%;
  }

  // .chart__graph

  &__graph {
    height: 100%;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

.orders {
  @media (max-width: $breakpoint1450) {
    grid-column: span 2;

    .orders__graph {
      img {
        max-height: 400px;
      }
    }
  }


  // .orders__head

  &__head {
    margin-bottom: 16px;
  }

  // .orders__title

  &__title {
    font-size: 20px;
    color: var(--white);
  }

  // .orders__main

  &__main {
    height: 100%;
  }

  // .orders__graph

  &__graph {
    height: 100%;

    img {
      max-width: 100%;
      width: 100%;
      height: 100%;
    }
  }
}

.token-mobile {
  display: none;

  @media (max-width: $breakpoint1024) {
    display: flex;
    flex-direction: column;

    .filters {
      display: flex;
      overflow: hidden;
    }

    .tabs__btns {
      width: 100%;
      column-gap: 12px;
      justify-content: space-between;
      padding-bottom: 12px;
      margin-bottom: -12px;

      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
    }

    .filters__rows {
      width: 100%;
    }

    .filters__row {
      // overflow-x: auto;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
    }

    .tabs__graph {
      max-width: 100%;
      width: 100%;
      height: auto;
    }

    .tabs__btn {
      width: fit-content;
    }
  }
}